version: '3'

services:

  ruby:
    container_name: ruby
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - gems:/usr/local/bundle

volumes:
  gems: