<h1>Página 1</h1><br>
<p>gem turbolinks, rails 5.2.8, ruby 2.7.3</p><br>
<%= link_to 'Atualizar Página', pages_page1_path %><br>
<%= link_to 'Ir para Página 2', pages_page2_path %><br>
<%= button_to 'Atualizar Página', pages_page1_path,method: :get %>
<%= button_to 'Ir para Página 2', pages_page2_path,method: :get %>